<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.west2.test6_4.mapper.TAdminMapper">

    <update id="changeAdmin">
        update T_admin
        set Aname=#{Aname},
            Aphone=#{Aphone},
            Aaddress=#{Aaddress}
        where PK_AID = #{PK_AID}
    </update>

</mapper>
